<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h3>  Authors Name</h3>

<ul>
    <% data1.forEach(function(person){ %>
       <li><%= person.name%></li>
    <% });%>
</ul>
</body>
</html>
