<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h3>  Authors Post</h3>

<ul>
    <% data2.forEach(function(person){ %>
    <li><%= person.title%></li>
    <% });%>
</ul>
</body>
</html>
