<a href="/">home</a> |
<a href="/authors">authors</a> |
<a href="/post">post</a> |
<a href="/count">count post</a> |
<a href="/setcookie">setcookie</a> |
<a href="/getcookie">getcookie</a> |
<a href="/robots.txt">robots</a> |
<a href="/html">HTML</a> |
<a href="/image">image</a> |
<a href="/input">input</a>

